@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');

//Variables
$_green: rgb(44, 154, 44);
$_green2: rgb(32, 110, 32);
$_gray: rgb(55, 55, 55);
$font_main: "Kanit", Verdana, sans-serif;
$font_second: "Jost", Verdana, sans-serif;
$medium: 740px;

//SASS
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;
}
  
button {
    cursor: pointer;
    border: none;
    outline: none;
}

#headerBar {
    position: relative;
    background-color: $_green;
    height: 6vh;
    padding: 0 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    @media screen and (min-width: $medium) {
        justify-content: left;
        margin-bottom: 50px;
    }
}

#headerText {
    color: white;
    font-family: $font_main;
    font-size: 1.35em;
    font-weight: 500;
}

#content {
    padding: 0 10%;
    display: flex;
    flex-flow: column nowrap;
    font-family: $font_main;
    margin-bottom: 25px;

    @media screen and (min-width: $medium) {
        flex-flow: row nowrap;
        padding: 0 18%;
        margin-bottom: 50px;
    }
}

#content-left {
    width: 100%;
    padding: none;
    font-family: $font_second;
    margin-bottom: 25px;
    order: 2;

    @media screen and (min-width: $medium) {
        width: 60%;
        padding: 0 10%;
        margin-bottom: 0px;
        order: 1;
    }

    #contentTitle {
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    
    #contentText {
        margin-bottom: 50px;
        font-size: 1.2em;
        line-height: 120%;
    }
}

#inputForm {

    .formElement {
        padding: 10px 15px;
        font-size: 1.4em;
        width: 100%;
    }

    .formElement:not(:last-child) {
        margin-bottom: 20px;
    }
    
    #urlInput {
        border: 1px solid rgba($_gray, $alpha: 0.3);
        outline: none;

        &:focus, &:hover  {
            border: 1px solid $_gray
        }
    }

    #sizeInput {
        border: 1px solid rgba($_gray, $alpha: 0.3);
        outline: none;

        &:focus, &:hover {
            border: 1px solid $_gray
        }
    }

    #submitButton {
        background-color: $_gray;
        color: white;

        &:hover {
            background-color: black;
        }
    }
}

#content-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    margin-bottom: 25px;

    @media screen and (min-width: $medium) {
        width: 40%;
        order: 2;
        margin-bottom: 0px;
    }
    
    img {
        width: 65%;
    }
}

#result {
    display: none;
    margin: auto;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 25px;

    @media screen and (min-width: $medium) {
        width: 15%;
    }

    #qrCode {
        margin-bottom: 15px;
        width: 100%;

        img {
            width: 100%;
            object-fit: contain;
        }
    }
}

#resultButtons {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .resultButton {
        color: white;
        font-family: $font_main;
        font-size: 1.3em;
        text-decoration: none;
        padding: 2px 15px;
        text-align: center;
    }

    #saveButton {
        background-color: $_green;
        width: 55%;

        &:hover {
            background-color: $_green2;
        }
    }


    #clearButton {
        background-color: $_gray;
        width: 40%;

        &:hover {
            cursor: pointer;
            background-color: black;
        }
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#spinner {
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 0;

    #spinnerWheel {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 7px solid rgba($_gray, $alpha: 0.3);
        border-top: 7px solid $_gray;
        animation: spin 0.6s linear infinite;
        margin-bottom: 10px;
    }

    #spinnerText {
        font-family: $font_second;
        font-size: 1.2em;
    }
}